.bg_image{
    background-image: url(../images/BG\ Footer.png);
    min-height: 100%;


.Hero{
  background-image: url(../images/header_image.png);
  min-width: 100%;
}
}
.bg-image{
    background-image: url(../images/how_it_works\ Mobile\ Bg.png);
    min-height: 100%;

}
.Numbers_image{
    background-image: url(../images/numbers\ bg.png);
    height: 100%;
    object-fit: contain;
}

.header-content{

    left: 50%;
    transform: translate(-50%);
}

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    width: 100%;
    position: relative;

  }

  .inputGroup input {
    font-size: 100%;

    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius:10px ;
    width: 100%;
  }

  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;

  }

  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: white;
  }

  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  }

  /*  */
  .coolinput {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: static;
    max-width: 100%;
  }

  .coolinput label.text {
    font-size: 0.75rem;
    color: black;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: white;
    width: fit-content;
  }

  .coolinput input[type=text].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #ddd solid;
    border-radius: 5px;
    background: white;
  }

  .coolinput input[type=text].input:focus {
    outline: none;
  }
